@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
    font-weight: 600;
    font-size: 15px;
}

 html , body{
     margin: 0;
     padding: 0;
     background-color: #e9eaed;
 }

 .main-header{
    margin: 0;
    background-color: #1b365d ;
    color:white;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding:10px;
 }
 
 .banner{
    margin:0;
    padding:0.2em;
    font-size: 25px;
    cursor:pointer;
 }

 .banner a{
    text-decoration: none;
    font-size: 22px;
 }

 .banner a:visited{
    text-decoration: none;
    color: white;
 }

 .nav {
    margin:0;
    list-style-type: none;
 }

 .nav li{
    display: inline-block;
    padding: 0 20px;
 }

 .nav a{
   text-decoration: none;
 }

 .nav li:hover{
    transition: all 0.3s ease 0s;
    cursor: pointer;
    text-decoration: underline;
 }


 .button{
    text-align: center;
    vertical-align: middle;
    padding: 0.67em;
    margin:0.5em;
    cursor:pointer;
    border: 0;
    border-radius:10px;
    color: white;
 }

 .button-header-container{
    margin-left:auto;
 }

 .button-header{
    background-color:#1b5ab1 ;
 }

 .button-header:hover{
    opacity:80%;
 }

 .accessibility{
    background-color:#1b5ab1;
    padding:5px;
    color: white;
 }

 .goog-te-banner-frame.skiptranslate {
    display: none !important;
}

.listings {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

.listing-heading {
    font-size: 24px;
    margin-bottom: 20px;
}

.card {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.card h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.desc {
    font-size: 16px;
    color: #666;
}

button {
    background-color: #1d3d60;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 80%;
}

/* Media Queries */
@media (max-width: 600px) {
    .listings {
        padding: 10px;
    }

    .listing-heading {
        font-size: 20px;
    }

    .card {
        padding: 15px;
    }

    .card h2 {
        font-size: 18px;
    }

    .desc {
        font-size: 14px;
    }

    button {
        padding: 8px 16px;
    }
}


 @media (max-width:950px){
    .nav li {
        display: block;
        padding: 10px 0;
    }
  }